@charset "UTF-8";
/* line 2, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 1, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
header {
  position: relative;
  height: 50px;
}

/* line 4, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
nav {
  height: 50px;
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 5;
}

/* line 11, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.hamburger {
  display: none;
}

/* line 14, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 71px;
  margin: 0;
  list-style-type: none;
}

/* line 20, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.menu_link {
  color: #FFFFFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

/* line 26, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.menu_link:hover {
  text-decoration: none;
  color: #1EACC7;
}

/* line 29, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.menu_item {
  border-right: 2px dotted black;
  padding-right: 22px;
}

/* line 32, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.menu_item:last-child {
  border-right: none;
}

/* line 36, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 87px;
  fill: #000;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 43, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 19px;
}

/* line 47, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #FFFFFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 100;
}

/* line 54, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.subheader_call {
  margin-top: 22px;
  color: #FFFFFF;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}

/* line 61, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #FFFFFF;
  text-align: right;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-decoration: none;
}

/* line 71, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.subheader_phone:hover {
  text-decoration: none;
  color: #fff;
}

/* line 74, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.subheader_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  width: 172px;
  height: 46px;
  border-radius: 4px;
  background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 2, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_mixins.sass */
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

/* line 93, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.promo {
  min-height: 799px;
  background: url(../img/bg/uber_bg.png) center center/cover no-repeat;
  padding: 151px 0 186px 0;
}

/* line 97, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.promo_header {
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  margin: 0;
  text-transform: uppercase;
}

/* line 106, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.promo_subheader {
  color: #FFFFFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 22px;
}

/* line 116, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.promo_descr {
  margin-top: 16px;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

/* line 123, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.promo_btn {
  display: block;
  margin: 115px auto 0 auto;
  width: 259px;
  height: 63px;
  border-radius: 4px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 2, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_mixins.sass */
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

/* line 139, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.reasons {
  padding: 71px 0 65px 0;
}

/* line 141, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* line 146, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1EACC7;
  border-radius: 100%;
}

/* line 155, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.reasons_descr {
  width: 343px;
}

/* line 157, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.reasons_subtitle {
  line-height: 21px;
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
}

/* line 162, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

/* line 168, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 181, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.label_white {
  background-color: #fff;
  color: #000;
}

/* line 184, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.label_min {
  width: 76px;
}

/* line 187, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 198, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.title_white {
  color: #fff;
}

/* line 201, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

/* line 209, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.subtitle_white {
  color: #fff;
}

/* line 215, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}

/* line 219, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile .row {
  margin-top: 30px;
}

/* line 222, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 83px;
}

/* line 229, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_1 {
  background: url("../img/bg/card1.png") center center/cover no-repeat;
}

/* line 231, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_2 {
  background: url("../img/bg/card2.png") center center/cover no-repeat;
}

/* line 233, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_3 {
  background: url("../img/bg/card3.png") center center/cover no-repeat;
}

/* line 235, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_4 {
  background: url("../img/bg/card4.png") center center/cover no-repeat;
}

/* line 237, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_5 {
  background: url("../img/bg/card5.png") center center/cover no-repeat;
}

/* line 239, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_6 {
  background: url("../img/bg/card6.png") center center/cover no-repeat;
}

/* line 241, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_subtitle {
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 248, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  align-content: center;
  width: 29px;
  height: 29px;
  background-color: #000000;
  border-radius: 100%;
  margin: 0 auto;
  padding: 6px;
  cursor: pointer;
}

/* line 264, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  transition: 0.3s all;
}

/* line 271, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_plus::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  transition: 0.3s all;
}

/* line 283, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.mobile_item_plus:hover::before, .mobile_item_plus:hover::after {
  background-color: #b84343;
}

/* line 286, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.choice {
  position: relative;
  min-height: 897px;
  padding: 59px 0 138px 0;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}

/* line 291, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.choice_img {
  position: relative;
  display: block;
  z-index: 2;
  margin: 54px auto 0 auto;
}

/* line 296, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.choice_descr {
  color: #222;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

/* line 303, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.choice .black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 502px;
  background-color: #070716;
  z-index: 1;
}

/* line 311, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.require {
  padding: 68px 0 90px 0;
}

/* line 313, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.require_block {
  margin: 33px 0;
}

/* line 315, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.require_block_nmb {
  margin-bottom: 0px;
}

/* line 317, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.require_title {
  color: #1CA8C3;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

/* line 322, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 20px;
}

/* line 326, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.require_list li {
  position: relative;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

/* line 333, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.require_list li::before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.svg") center center/cover no-repeat;
}

/* line 342, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.require_descr {
  color: #1CA8C3;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

/* line 349, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.require .warning .require_title {
  color: #b84343;
}

/* line 353, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.require .warning .require_list li::before {
  background: url("../icons/check_red.svg") center center/cover no-repeat;
}

/* line 355, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.world {
  min-height: 720px;
  padding: 48px 0;
  background: url(../img/bg/world_bg.png) center center/cover no-repeat;
  position: relative;
}

/* line 360, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.world_link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 21px;
  color: #1FBAD6;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 373, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.world_link_hover {
  text-decoration: none;
  color: #FFFFFF;
}

/* line 376, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
footer {
  padding: 12px 21px 11px 23px;
}

/* line 379, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
footer a:hover {
  text-decoration: none;
}

/* line 382, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_divider {
  position: relative;
  width: 301px;
  height: 7px;
  background-color: #1FBAD6;
  margin: 0 auto;
}

/* line 388, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

/* line 393, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_wrapper > div {
  width: 33%;
}

/* line 395, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

/* line 398, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

/* line 402, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 35px;
  height: 35px;
  background-color: #070716;
  border-radius: 100%;
}

/* line 411, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_social_item i {
  color: #fff;
}

/* line 413, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_links {
  width: 390px;
  margin: 0 auto;
}

/* line 416, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* line 420, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 426, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 430, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 436, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

/* line 446, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_general.sass */
.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  /* line 3, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu_item {
    padding-right: 20px;
  }
  /* line 5, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu_link {
    font-size: 13px;
  }
  /* line 8, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .promo_header {
    font-size: 50px;
  }
  /* line 11, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_block {
    align-items: flex-start;
  }
  /* line 13, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_descr {
    width: 300px;
  }
  /* line 16, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .mobile_item {
    width: 290px;
  }
  /* line 18, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .mobile_item_subtitle {
    font-size: 22px;
  }
  /* line 20, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .choice {
    padding: 55px 0;
    min-height: 840px;
  }
  /* line 24, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .require br {
    display: none;
  }
  /* line 27, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper > div {
    width: 50%;
  }
  /* line 29, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    width: 25%;
  }
  /* line 31, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
  /* line 35, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_mobile {
    display: flex;
  }
  /* line 37, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_mobile a {
    margin: 0 3px;
  }
  /* line 39, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_mobile a img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  /* line 42, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .title {
    font-size: 28px;
  }
  /* line 45, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu_item {
    padding-right: 8px;
  }
  /* line 47, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu_link {
    font-size: 10px;
  }
  /* line 51, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_logo img {
    width: 100%;
  }
  /* line 53, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_official {
    font-size: 11px;
  }
  /* line 55, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_phone {
    font-size: 18px;
  }
  /* line 57, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  /* line 62, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .promo_header {
    font-size: 40px;
  }
  /* line 64, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .promo_subheader {
    font-size: 30px;
  }
  /* line 67, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_block {
    flex-direction: column;
    align-items: center;
  }
  /* line 70, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_round {
    margin-right: 0;
  }
  /* line 72, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_descr {
    width: 300px;
    margin-top: 20px;
  }
  /* line 75, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .choice {
    min-height: 800px;
  }
  /* line 77, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .choice_img {
    width: 100%;
  }
  /* line 79, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .world {
    min-height: 650px;
  }
  /* line 82, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper {
    flex-wrap: wrap;
  }
  /* line 84, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  /* line 89, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    width: 100%;
  }
  /* line 91, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  /* line 95, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .title {
    margin-top: 25px;
  }
  /* line 97, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  /* line 109, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu_active {
    left: 0;
  }
  /* line 111, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  /* line 115, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu_link {
    font-size: 20px;
  }
  /* line 117, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  /* line 125, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  /* line 133, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .hamburger_active span {
    margin-bottom: -2px;
  }
  /* line 135, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  /* line 137, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  /* line 139, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  /* line 141, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .xs-hidden {
    display: none;
  }
  /* line 143, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .xs-visible {
    display: block;
  }
  /* line 146, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  /* line 154, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  /* line 161, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .promo_header {
    line-height: 45px;
  }
  /* line 163, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons {
    padding: 40px 0;
  }
  /* line 165, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_descr {
    width: 350px;
  }
  /* line 167, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_subtitle {
    text-align: center;
  }
  /* line 169, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_text {
    margin-top: 10px;
  }
  /* line 171, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .mobile {
    padding: 40px 0;
  }
  /* line 173, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .choice {
    min-height: 600px;
    padding: 40px 0;
  }
  /* line 176, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .require {
    padding: 40px 0;
  }
  /* line 178, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .world {
    min-height: 450px;
  }
}

@media (max-width: 575px) {
  /* line 181, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  nav {
    height: 30px;
  }
  /* line 183, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  header {
    height: 30px;
  }
  /* line 185, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  /* line 189, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-top: 11px;
  }
  /* line 193, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader {
    height: 60px;
    top: 30px;
  }
  /* line 196, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_official {
    display: none;
  }
  /* line 198, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_logo {
    margin-top: 16px;
  }
  /* line 200, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
  }
  /* line 205, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 9px;
    margin-top: 6px;
  }
  /* line 210, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .subheader_btn:hover {
    background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  }
  /* line 212, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  /* line 215, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .promo_descr {
    display: none;
  }
  /* line 217, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  /* line 221, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  /* line 226, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
    font-size: 16px;
  }
  /* line 231, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .promo_btn:hover {
    background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  }
  /* line 233, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu {
    width: 85%;
  }
  /* line 235, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  /* line 239, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .menu_link {
    display: block;
  }
  /* line 244, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }
  /* line 246, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(5px) rotate(45deg);
  }
  /* line 248, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons {
    padding: 22px 0 36px 0;
  }
  /* line 250, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_block {
    margin-top: 26px;
  }
  /* line 252, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_round {
    width: 100px;
    height: 100px;
  }
  /* line 255, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_descr {
    width: 100%;
    margin-top: 27px;
  }
  /* line 258, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_subtitle {
    font-size: 16px;
    text-align: left;
  }
  /* line 261, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .reasons_text {
    margin-top: 0;
  }
  /* line 263, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .mobile {
    padding: 20px 0 40px 0;
  }
  /* line 265, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .mobile .row {
    margin-top: 30px;
  }
  /* line 267, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .mobile_item {
    height: 254px;
    padding: 81px 40px 0 40px;
  }
  /* line 270, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .mobile_item_subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  /* line 273, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .mobile_item_plus {
    bottom: 28px;
  }
  /* line 276, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
    background-color: #1EACC7;
  }
  /* line 278, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .choice {
    padding: 25px 0 33px 0;
    min-height: 390px;
    background: #000;
  }
  /* line 282, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .choice_img {
    margin-top: 35px;
  }
  /* line 284, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .choice_descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
  }
  /* line 290, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .choice .black {
    display: none;
  }
  /* line 292, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .hidden-320 {
    display: none;
  }
  /* line 294, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .require {
    padding: 25px;
  }
  /* line 296, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .require_block {
    margin: 30px 0 0 0;
  }
  /* line 298, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .require_title {
    font-size: 16px;
  }
  /* line 300, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .require_list {
    padding-left: 30px;
    margin-top: 5px;
  }
  /* line 303, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .require_list li {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  /* line 307, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .require_descr {
    font-size: 14px;
    margin-top: 15px;
  }
  /* line 310, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .world {
    min-height: 360px;
    padding: 25px 0 30px 0;
  }
  /* line 313, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .world_link {
    width: 200px;
    display: block;
    bottom: 30px;
    line-height: 15px;
  }
  /* line 318, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  footer {
    padding: 25px 0 20px 0;
  }
  /* line 321, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_divider {
    width: 253px;
    margin: 0 auto;
  }
  /* line 324, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper {
    padding-top: 22px;
  }
  /* line 326, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper > div {
    margin-bottom: 20px;
  }
  /* line 328, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    order: 2;
  }
  /* line 330, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(2) {
    order: 1;
  }
  /* line 332, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    order: 3;
  }
  /* line 334, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_links {
    width: 290px;
  }
  /* line 336, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_links_main {
    padding: 0;
    font-size: 14px;
  }
  /* line 339, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_links_sub {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 342, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_links_sub a {
    margin: 0 7px;
  }
  /* line 344, ../../Users/Lenovo/OneDrive/Робочий стіл/Uber/src/sass/_media.sass */
  .footer_links_lang {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */